/* 
  --- How to Use Typography Utilities---
    Headings:   text-h[1..6]
    Body:       text-body-[1|2], text-body-[1|2]-md
    Metadata:   text-meta-[data|data-md|eyebrow|nav|footer|cta]
*/

/* --- Headings --- */
@utility text-h1 {
  @apply text-s-48;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-72;
  }
}
@utility text-h2 {
  @apply text-s-40;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-64;
  }
}
@utility text-h3 {
  @apply text-s-36;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-56;
  }
}
@utility text-h4 {
  @apply text-s-32;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-48;
  }
}
@utility text-h5 {
  @apply text-s-24;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-32;
  }
}
@utility text-h6 {
  @apply text-s-22;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media (min-width: 768px) {
    @apply text-s-26;
  }
}

/* --- Body Text --- */
@utility text-body-1 {
  @apply text-s-18;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media (min-width: 768px) {
    @apply text-s-20;
  }
}
@utility text-body-1-md {
  @apply text-body-1 font-medium;
}
@utility text-body-2 {
  @apply text-s-14;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media (min-width: 768px) {
    @apply text-s-16;
  }
}
@utility text-body-2-md {
  @apply text-body-2 font-medium;
}

/* --- Meta / Supporting UI --- */
@utility text-meta-eyebrow {
  @apply text-s-12;
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @media (min-width: 768px) {
    @apply text-s-14;
  }
}
@utility text-meta-data {
  @apply text-s-12;
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
@utility text-meta-data-md {
  @apply text-meta-data font-medium;
}
@utility text-meta-nav {
  @apply text-s-16;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
  @media (min-width: 768px) {
    @apply text-s-14;
  }
}
@utility text-meta-footer {
  @apply text-s-16;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media (min-width: 768px) {
    @apply text-s-14;
  }
}
@utility text-meta-cta {
  @apply text-s-14;
  font-family: var(--font-pastiche);
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.01em;
  @media (min-width: 768px) {
    @apply text-s-16;
  }
}
