/* 
  --- How to Use Typography ---
    Fonts:      font-[pastiche|roboto]
    Weights:    font-[regular|medium]
    Sizes:      text-s-[12..72]
*/

@theme {
  --text-*: initial;
  --font-*: initial;
  --font-weight-*: initial;

  --font-pastiche: var(--font-pastiche-grotesque);
  --font-roboto: var(--font-roboto);

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-smoothing: antialiased;

  /* --- Font Size Scale (text-s-*) --- */
  --text-s-12: 0.75rem;     /* 12px */
  --text-s-14: 0.875rem;    /* 14px */
  --text-s-16: 1rem;        /* 16px */
  --text-s-18: 1.125rem;    /* 18px */
  --text-s-20: 1.25rem;     /* 20px */
  --text-s-22: 1.375rem;    /* 22px */
  --text-s-24: 1.5rem;      /* 24px */
  --text-s-26: 1.625rem;    /* 26px */
  --text-s-32: 2rem;        /* 32px */
  --text-s-36: 2.25rem;     /* 36px */
  --text-s-40: 2.5rem;      /* 40px */
  --text-s-48: 3rem;        /* 48px */
  --text-s-56: 3.5rem;      /* 56px */
  --text-s-64: 4rem;        /* 64px */
  --text-s-72: 4.5rem;      /* 72px */
}
