/* 
  --- How to Use Typography ---
    Fonts:      font-[pastiche|roboto]
    Weights:    font-[regular|medium]
    Sizes:      text-s-[12..72]
*/

@theme {
  --text-*: initial;
  --font-*: initial;
  --font-weight-*: initial;

  --font-pastiche: var(--font-pastiche-grotesque);
  --font-roboto: var(--font-roboto);

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-smoothing: antialiased;

  /* --- Font Size Scale (text-s-*) --- */
  --text-s-12: 12px;
  --text-s-14: 14px;
  --text-s-16: 16px;
  --text-s-18: 18px;
  --text-s-20: 20px;
  --text-s-22: 22px;
  --text-s-24: 24px;
  --text-s-26: 26px;
  --text-s-32: 32px;
  --text-s-36: 36px;
  --text-s-40: 40px;
  --text-s-48: 48px;
  --text-s-56: 56px;
  --text-s-64: 64px;
  --text-s-72: 72px;
}
