.mobileSwapSlider {
}

.mobileSliderImage {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.mobileSwapSlider :global(.slick-dots) {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 6px 12px;
  border-radius: 30px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(38, 41, 57, 0.1);
}

.mobileSwapSlider :global(.slick-dots li) {
  margin: 0;
  width: auto;
  height: auto;
}

.mobileSwapSlider :global(.slick-dots .slick-active button) {
  width: 8px;
  height: 8px;
}

.mobileSwapSlider :global(.slick-dots .slick-active button:before) {
  background-color: #291928;
  width: 6px;
  height: 6px;
}

.mobileSwapSlider :global(.slick-dots li button:before) {
  content: "";
  display: block;
  position: relative;
  border-radius: 16px;
  padding: 0;
  width: 3px;
  height: 3px;
  background-color: rgba(38, 41, 57, 0.3);
}

.mobileSwapSlider :global(.slick-dots li button) {
  padding: 0;
  width: 6px;
  height: 6px;
}
