@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/typography-tokens.css";
@import "./theme/typography.css";

body {
  background-color: var(--color-white-200);
  color: var(--color-plum-100);
  font-family: var(--font-pastiche);

  @apply type-body-1;
}
