@import "tailwindcss";
@import "../theme/colors.css";
@import "../theme/typography-tokens.css";
@import "../theme/typography.css";

body {
  background-color: var(--color-bone);
  color: var(--color-plum);
  font-family: var(--font-pastiche);

   @apply type-body-1;
}
